// color variable
$primaryColor:#fff;
$secondaryColor:#1C1784;
$tertiaryColor:#EAA02E;
$greyColor:#707B7C;

// viewport variables
$mobile:767px;
$tablet:768px;
$desktop:1024px;

// innercontainer
$innerContainer:1024px;

// tagfontsize
$h1:2.5rem;
$h2:2rem;
$h3:1.5rem;
$p:1rem;
$small:0.875rem;
$xsmall:0.74rem;

// text-transform
$textcap:capitalize;
$textup:uppercase;
$textnon:none;


// margin
$mt-100:100px;
$mb-100:100px;

$mt-80:80px;
$mb-80:80px;

$mt-20:20px;
$mb-20:20px;

$mt-30:30px;
$mb-30:30px;