// partials file import
@import "variables";
@import "mixin";
@import "classes";

/*what we do code */

.whatwedo{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
   
    .part-one{
        background-image: url("../assets/images/whatwedo3.jpg");
<<<<<<< HEAD
=======
        
>>>>>>> 5387cd0e475b882d1a13ea3419b296544ffaa5e3
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        flex-basis: 320px;
    }
    .part-two{
        background-image: url("../assets/images/whatwedo2.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        flex-grow: 2;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            @extend .overlayOrange;
        }
    }

    section{
        background-color: $primaryColor;
        padding: 15px;
        @include media(min,$tablet){
            padding: 30px;
        }
        @include media(min,$desktop){
            width: $innerContainer;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }       
        h3{
            @include commonfont($h3,$greyColor,$textup);
        }
        h1{
            @include commonfont($h1,$secondaryColor,$textcap);
            margin-bottom: 20px;
        }
        .content-area{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            article{
                position: relative;
                padding: 0px 20px 0px 55px;
                display: inline-block;
                margin-bottom: 20px;
                max-width: calc(100%/2);
                @include media(max,$mobile){
                    max-width: unset;
                }        
                h3{
                    @include commonfont($h3,$secondaryColor,$textup);
                    margin-bottom: 20px;
                }
                p{
                    @include commonfont($small,$greyColor,$textnon,1.5);
                }
                &::before{
                    content: "";
                    background-image: url(../assets/images/design.png);
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

